body {
  background-image: url("/img/food-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
}

a {
  color: #b64926;
}

.container {
  margin: 100px auto;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.5);
  padding: 20px 30px;
  border-radius: 6px;
}

header {
  margin-bottom: 30px;
}

h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #b64926;
  text-align: center;
  font-family: "Merriweather", serif;
}

header p {
  font-size: 16px;
  font-weight: 100px;
  text-align: center;
  font-style: italic;
}

.form-container {
  padding: 15px 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  margin-bottom: 30px;
}

form {
  display: flex;
}

.hint {
  opacity: 0.6;
  font-size: 14px;
  margin-top: 5px;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
}

.submit-button {
  margin-left: 10px;
  background: #468966;
  color: white;
  border: none;
  padding: 14px 24px;
  border-radius: 50px;
  width: 150px;
  font-size: 16px;
  transition: all 200ms ease-in-out;
}

.submit-button:hover {
  background: #79bd8f;
  cursor: pointer;
}

.recipe {
  font-size: 16px;
  background: white;
  padding: 20px;
  line-height: 1.5;
  border-left: 3px solid #b64926;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.03);
}

.hidden {
  display: none;
}

footer {
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
